@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Sans:wght@400;700&display=swap');

/*  LinearIcons-Free  */
@font-face {
    font-family: 'Linearicons-Free';
    src:url('/font/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
    url('/font/Linearicons-Free.woff2?w118d') format('woff2'),
    url('/font/Linearicons-Free.woff?w118d') format('woff'),
    url('/font/Linearicons-Free.ttf?w118d') format('truetype');
    font-weight: normal;
    font-style: normal;
  }